[run]
branch = True
omit =
    rdial/__init__.py
    rdial/_version.py

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    if __name__ == .__main__.:
precision = 2
