language: python
python:
  - 2.6
  - 2.7
  - 3.2
install:
  - pip install --use-mirrors -r extra/requirements-test.txt
  - pip install --use-mirrors .
script:
  - nose2 -v tests
branches:
  except:
    - /^play\/.*$/
