include .travis.yml
include COPYING
include *.rst
include doc/conf.py
include doc/wordlist.txt
include extra/_rdial
include extra/rdial.png
include extra/requirements*.txt
include nose2.cfg
include rdial.py
include rdial/config
include rdial/locale/rdial.pot
include rdial/locale/*/LC_MESSAGES/*.mo
include rdial/locale/*/LC_MESSAGES/*.po

include tests/*.py

recursive-include doc *.rst
recursive-include tests/data *.csv
