include .travis.yml
include COPYING
include *.rst
include doc/images/dwm-taskbar.png
include doc/conf.py
include doc/wordlist.txt
include extra/README.pip
include extra/_rdial
include extra/doap.rdf
include extra/rdial.png
include extra/requirements*.txt
include rdial.py
include rdial/config
include rdial/locale/rdial.pot
include rdial/locale/*/LC_MESSAGES/*.mo
include rdial/locale/*/LC_MESSAGES/*.po

include tests/*.py
include tests/data/*.ini
include tests/data/requires/*.txt

recursive-include .github *.rst
recursive-include doc *.rst
recursive-include tests/data *.csv
